.advantages {
  background-color: var(--basic-grey);
}

.advantages-wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    .advantages__list {
      display: flex;
      flex-direction: row;
    }
  }
}

.advantages__item {
  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.advantages__item::marker {
  font-size: 0;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px 0;

  @media (min-width: $desktop-width) {
    width: 244px;
    font-size: 30px;
    line-height: 30px;
    margin-left: 31px;
  }
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--special-blue);
  margin: 0 0 46px 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__img {
  display: none;
  width: 186px;
  height: 382px;

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 56px;
  }
}
