.advantages {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    .advantages__list {
      display: flex;
      flex-direction: row;
    }
  }
}

.advantages__item::marker {
  font-size: 0;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
