.app {
  order: 6;
  background-color: var(--basic-grey);

  @media (min-width: $tablet-width) {
    order: 4;
    background-color: var(--basic-white);
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 24px;
  }
}

.app__fieldset {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    border: 2px solid var(--special-grey-border);
    border-radius: 1px;
  }
}

.app__headline {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-pink);
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px 0;
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 0 54px 0;
  }
}

.app__item {
  font-size: 18px;
  font-weight: 400;
  color: var(--special-blue);
  margin: 0 0 45px 69px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 0 45px 117px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 45px 117px;
  }
}

.app__item::marker {
  font-size: 0;
}

.app__list {
  padding: 0;
  margin: 0;
  position: relative;
}

.app__item-radio + label::before {
  content: "";
  position: absolute;
  left: -70px;
  top: -5px;
  width: 37px;
  height: 37px;
  border: 2px solid var(--basic-grey);
  border-radius: 50%;
  background-color: var(--basic-white);
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: -61px;
  }
}

.app__item-radio:hover + label::before,
.app__item-radio:focus + label::before {
  border-color: var(--special-blue);
}

.app__item-radio:active + label::before {
  border-color: var(--basic-pink);
}

.app__item-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -57px;
  width: 15px;
  height: 15px;
  background-color: var(--basic-pink);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -48px;
  }
}

.app__form {
  @media (min-width: $desktop-width) {
    width: 417px;
    margin: 0 0 0 0;
  }
}
