.application {
  order: 5;
  height: 287px;
}

.application__fieldset {
  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid $special-grey-border;
    border-radius: 1px;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}

.application__field {
  font-size: 14px;
  font-weight: 400;
  color: $basic-pink;
  text-transform: uppercase;
}

.application__legend {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: $basic-pink;
    text-transform: uppercase;
  }
}
