.comments__fieldset {
  border: none;
}

.comments__headline {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $basic-pink;
  text-transform: uppercase;
}

.comments__submit {
  font-size: 18px;
  font-weight: 700;
  color: $basic-white;
  background-color: $basic-green;
  text-transform: uppercase;
  border: none;
}

.comments__important {
  font-size: 14px;
  font-weight: 400;
  color: $basic-blue;
  text-transform: uppercase;
}

.comments__important-star {
  color: $basic-pink;
}
