.comments {
  order: 7;
}

.comments__fieldset {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    border: 2px solid $special-grey-border;
    border-radius: 1px;
  }
}

.comments__field {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.comments__headline {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $basic-pink;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 22px;
}

.comments__important {
  font-size: 14px;
  font-weight: 400;
  color: $basic-blue;
  text-transform: uppercase;
  margin: 0;
}

.comments__important-star {
  color: $basic-pink;
}

.comments__input {
  height: 197px;
  width: 267px;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    width: 496px;
  }

  @media (min-width: $desktop-width) {
    width: 816px;
  }
}

.comments__form {
  padding: 42px 22px 52px 22px;
}

.comments__submit {
  font-size: 18px;
  font-weight: 700;
  color: $basic-white;
  background-color: $basic-green;
  text-transform: uppercase;
  border: none;
  width: 276px;
  height: 59px;
  margin-bottom: 46px;
}
