.contacts {
  @media (max-width: $mobile-only) {
    padding-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 16px;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: var(--basic-blue);
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-bottom: 20px;
  }
}

.contacts__link {
  color: var(--basic-pink);
  text-decoration: none;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: var(--basic-pink);
  margin: 10px 0 10px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &--phone {
    order: 1;
  }

  &--email {
    order: 2;

    @media (min-width: $desktop-width) {
      order: 3;
    }
  }

  &--adress {
    order: 3;

    @media (max-width: $mobile-only) {
      margin-top: 16px;
    }

    @media (min-width: $desktop-width) {
      order: 2;
    }
  }
}
