.contacts-title {
  font-size: 18px;
  line-height: 25px;
  color: $basic-blue;
}

.contacts-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: $basic-pink;
}

.contacts-text a {
  color: $basic-pink;
  text-decoration: none;
}
