.contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: var(--basic-blue);
  margin-bottom: 10px;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: var(--basic-pink);
  margin: 10px 0 13px 0;
}

.contacts__link {
  color: var(--basic-pink);
  text-decoration: none;
}

.contacts__text--phone {
  order: 1;
}

.contacts__text--email {
  order: 2;

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.contacts__text--adress {
  order: 3;

  @media (min-width: $desktop-width) {
    order: 2;
  }
}
