.information__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $basic-blue;
}

.information {
  order: 2;
  height: 828px;

  @media (min-width: $tablet-width) {
    height: 725px;
  }

  @media (min-width: $desktop-width) {
    height: 933px;
  }

  .information__img {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
