.information__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $basic-blue;
  margin: 0 auto 50px;
  width: 280px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 55px;
    width: 588px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 0 auto 100px;
  }
}

.information {
  order: 2;
  height: 828px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 725px;
  }

  @media (min-width: $desktop-width) {
    height: 933px;
  }

  .information__img {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.information__img {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 267px;
    height: 547px;
    z-index: 1;
  }
}
