.information {
  position: relative;

  @media (min-width: $tablet-width) {
    height: 725px;
    padding-top: 6px;
  }

  @media (min-width: $desktop-width) {
    height: auto;
    grid-column: 1/3;
  }

  .information__img {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.information__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: var(--basic-blue);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    padding-inline: 50px;
    margin-top: 15px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (max-width: $mobile-only) {

    & span {
      display: block;
      margin-bottom: 29px;
    }
  }
}

.information__img-wrapper {
  margin-top: 10px;
  width: 157px;

  @media (max-width: $mobile-only) {
    height: 277px;
    place-self: center;
  }

  @media (min-width: $tablet-width) {
    z-index: 3;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.information__img {
  object-fit: cover;
  object-position: top;
  height: 100%;

  @media (min-width: $tablet-width) {
    display: block;
    width: 268px;
    height: 481px;
    z-index: 1;
  }
}
