.intro-photo {
  font-size: 14px;
  color: var(--special-blue);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.intro-photo__text {
  margin: 35px 17px 49px 17px;

  @media (min-width: $desktop-width) {
    margin: 91px 30px 77px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 91px 160px 89px 160px;
  }
}
