.intro {
  order: 1;
  color: var(--basic-white);
  background-repeat: no-repeat;
  background-image: url("../../img/back-mobile@1x.jpg");
  background-position: 50% 106px, 50% -70px;
  background-color: var(--basic-blue);
  margin-bottom: 46px;
  box-shadow: 0 -400px 0 0 hsl(202, 45%, 13%);

  @media (min-width: $tablet-width) {
    background-image: url("../../img/back-tablet@1x.jpg");
    background-position: 50% 106px, 50% -105px;
    padding: 74px 0 37px 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/back-desktop@1x.jpg");
    background-position: 110% 106px, 50% -105px;
    padding: 74px 0 80px 0;
    grid-column: 1/3;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.intro--form {
  background-position: 50% -65px, 50% -105px;

  @media (min-width: $tablet-width) {
    background-position: 50% -101px, 50% -105px;
    width: 100%;
  }
}

.intro--index {
  margin-bottom: 40px;
  padding-top: 66px;
  background-image: url("../../img/phone-mobile@1x.png"), url("../../img/back-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/phone-mobile@1x.png"), url("../../img/back-mobile@2x.jpg");
    background-size: contain, cover;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/phone-tablet@1x.png"), url("../../img/back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-tablet@2x.png"), url("../../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/phone-desktop@1x.png"), url("../../img/back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-desktop@2x.png"), url("../../img/back-desktop@2x.jpg");
      background-position: 50% 0;
      background-size: cover;
    }
  }
}

.intro__header {
  @media (max-width: $mobile-only) {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    text-align: center;
    margin: 0 20px 0 20px;
    padding: 98px 0 82px 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin: 138px 0 42px 28px;
    width: 245px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 30px 0 49px 25px;
    padding: 0;
  }
}

.intro-download {
  margin: 321px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 51px 0;
  }
}
/*
.intro__header::after {
  content: " ";
  background-image: url("../../img/mobile/phone-mobile.png");
  position: absolute;
  top: 105px;
  right: 1px;
  width: 320px;
  height: 286px;

  @media (min-width: $tablet-width) {
    top: 80px;
    right: 1px;
    width: 660px;
    height: 545px;
    background-image: url("../../img/tablet/phone-tablet.png");
  }

  @media (min-width: $desktop-width) {
    top: 103px;
    right: 1px;
    width: 1050px;
    height: 645px;
    background-image: url("../../img/desktop/phone-desktop.png");
  }
}
*/
.intro-link {
  color: var(--basic-white);
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid var(--basic-white);
  border-radius: 41px;
  padding: 14px 35px 14px 35px;
}

.intro__item::marker {
  font-size: 0;
}

.intro__item-apple::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#apple");
  background-repeat: no-repeat;
  width: 47px;
  height: 56px;
  top: -12px;
  left: 3px;

  @media (min-width: $tablet-width) {
    top: -12px;
    left: 0;
  }
}

.intro__item-android::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#android");
  background-repeat: no-repeat;
  width: 43px;
  height: 47px;
  top: -7px;
  left: 86px;

  @media (min-width: $tablet-width) {
    top: -8px;
    left: 83px;
  }
}

.intro__item-microsoft::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#microsoft");
  background-repeat: no-repeat;
  width: 44px;
  height: 48px;
  top: -5px;
  right: -3px;

  @media (min-width: $tablet-width) {
    top: -8px;
    right: 0;
  }
}

.intro__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin: 0;
  width: 277px;
  text-align: center;
  padding: 3px 0 31px 3px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 300px;
    padding: 7px 0 76px 0;
  }
}

.intro__opening {
  @media (min-width: $desktop-width) {
    margin: 114px 0 0 130px;
  }
}

/*Form*/

.intro__header-form {
  line-height: 33px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    width: 620px;
    margin: 0 0 26px 0;
  }

  @media (min-width: $desktop-width) {
    width: 747px;
    margin: 0 0 26px 100px;
  }
}

.intro__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  margin: 58px auto 31px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 72px 0 38px 47px;
  }
}

.intro-catalog {
  background-position: 50% -65px, 50% -105px;

  @media (min-width: $tablet-width) {
    background-position: 50% -101px, 50% -105px;
    width: 100%;
  }
}

.intro__header-photo {
  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    margin: 5px auto 85px;
    width: 358px;
  }

  @media (min-width: $desktop-width) {
    margin: 5px auto;
  }
}

.intro__text-photo {
  margin: 0 17px 48px 17px;
}
