.logo {
  display: block;
}

.logo__wrapper {
  &--desktop {
    @media (max-width: 979px) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: 979px) and (min-width: 659px) {
      display: block;
    }
  }

  &--mobile {
    @media (max-width: 659px) {
      display: block;
    }
  }
}

.logo__image {
  margin: 22px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 27px 0 0 0;
  }
}
