.logo {
  display: grid;
  max-width: max-content;
}

.logo__wrapper {
  height: 23px;

  @media (min-width: $tablet-width) {
    height: 56px;
  }

  &--desktop {
    @media (max-width: $not-desktop) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: $not-desktop) and (min-width: $tablet-width) {
      display: grid;
      place-items: left;
    }
  }

  &--mobile {
    @media (max-width: $mobile-only) {
      display: grid;
      place-items: left;
    }
  }
}

.logo__image-footer {
  padding-left: 51px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
