.main-nav__item a {
  color: $basic-white;
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}

.main-nav__item::marker {
  font-size: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav__toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
