.main-nav {
  --nav-bg: var(--special-blue);
  position: relative;
  margin: 0;

  @media (max-width: $not-desktop) {
    padding-top: var(--header-min-height);
    background-color: var(--nav-bg);
    box-shadow:
      30vw 0 0 0 var(--nav-bg),
      -30vw 0 0 0 var(--nav-bg);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: end;
  }

  &::before {
    content: var(--is-nav-visible, "");
    position: absolute;
    top: calc(var(--header-min-height) - 1px);
    width: 100%;
    height: 1px;
    background-color: var(--basic-black);
    box-shadow:
      30vw 0 0 0 var(--basic-black),
      -30vw 0 0 0 var(--basic-black);

    @media (min-width: $desktop-width) {
      content: initial;
    }
  }

  @media (max-width: $not-desktop) {
    &--opened {
      --nav-icon: url("../../icons/sprite.svg#nav-close");
    }

    &--closed {
      --nav-icon: url("../../icons/sprite.svg#nav-open");
      --is-nav-visible: none;
      --nav-bg: transparent;
    }

    &--nojs {
      --nav-position: static;
      --is-toggel-visible: none;
    }
  }
}

.main-nav__toggle {
  --fill: var(--basic-white);
  border: none;
  padding: 0;
  background-color: transparent;

  @media (max-width: $not-desktop) {
    position: absolute;
    top: 43px;
    right: 0;
    display: var(--is-toggel-visible, flex);
    gap: 12px;
  }

  @media (max-width: $mobile-only) {
    top: 21px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before {
    content: "";
    width: 50px;
    height: 24px;
    background-color: var(--fill);
    mask: var(--nav-icon) no-repeat center / cover;
  }

  &:hover {
    --fill: var(--basic-pink);
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $not-desktop) {
    display: var(--is-nav-visible);
    position: var(--nav-position, absolute);
    left: 0;
    right: 0;
    background-color: var(--nav-bg);
    box-shadow:
      30vw 0 0 0 var(--nav-bg),
      -30vw 0 0 0 var(--nav-bg);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    column-gap: 63px;
  }
}

.main-nav__item {
  display: grid;

  &::before,
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--three-d);
    box-shadow:
      30vw 0 0 0 var(--three-d),
      -30vw 0 0 0 var(--three-d);
  }

  &::before {
    --three-d: var(--special-blue-pale);
  }

  &::after {
    --three-d: var(--basic-black);
  }

  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      content: initial;
    }
  }
}

.main-nav__link {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 16px;

  &:hover {
    color: var(--basic-pink);
  }

  &:active {
    color: var(--basic-pink);
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      color: var(--basic-pink);
    }

    &:active {
      opacity: 0.3;
    }
  }

  &[aria-current="page"] {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 13px;
  }
}
