.page {
  height: 100%;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
}

.page__hidden {
  position: absolute;
  transform: scale(0);
}

.page__leveler {
  margin: auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
