.page-header {
  box-sizing: border-box;
  z-index: 5;
  min-height: var(--header-min-height);
  margin-bottom: calc(-1 * var(--header-min-height));
  background-color: var(--transparent-black);
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-min-height) 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
    gap: 24px;
    padding: 22px 0;
  }
}

.page-header__logo-link {
  z-index: 5;
  align-self: center;

  @media (min-width: $desktop-width) {
    align-self: initial;
    padding: 4px 0;
  }

  @media (max-width: $not-desktop) {
    grid-area: 1 / 1 / 2 / -1;
  }

  &:hover {
    --fill: var(--basic-pink);
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__nav {
  @media (max-width: $not-desktop) {
    grid-area: 1 / 1 / 3 / -1;
  }
}
