.page {
  height: 100%;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
}

.page__hidden {
  position: absolute;
  transform: scale(0);
}

.page__leveler {
  margin: 0 auto;
  width: 280px;

  @media (min-width: 660px) {
    width: 620px;
  }

  @media (min-width: 980px) {
    width: 940px;
  }
}

.page__body {
  min-height: 100%;
  display: grid;
  margin: 0;
}
