.page-footer__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $basic-blue;
  margin: 50px 0 45px 0;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 55px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 74px 150px 61px 150px;
  }
}

.page-footer {
  height: 898px;
  text-align: center;

  @media (min-width: $tablet-width) {
    .page-footer__contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

.page-footer__bottom {
  @media (min-width: $tablet-width) {
    height: 127px;
    display: flex;
    justify-content: space-around;
  }
}

.page-footer__logo {
  padding-top: 36px;
}

.page-footer__copyright {
  padding-top: 44px;
}

.page-footer__wrapper {
  padding-left: 16px;
}

.page-footer__social {
  margin: 41px 0 0 25px;
  width: 195px;

  @media (min-width: $tablet-width) {
    margin: 41px 14px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 41px 14px 0 0;
  }
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.social__item {
  position: relative;
}

.social__link::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -20px;
  border: 3px solid $special-blue-border;
  border-radius: 50px;
  width: 54px;
  height: 54px;
  display: inline-block;
}

.social__link svg {
  width: 20px;
  height: 20px;
  fill: $basic-pink;
}
