.page-header {
  text-transform: uppercase;
  background-color: $basic-black;

  @media (min-width: $desktop-width) {
    padding-bottom: 55px;
  }
}

.page-header__logo-icon {
  width: 74px;
  height: 23px;
  margin: 22px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 27px 0 43px 20px;
    width: 145px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 0 43px 0;
  }
}

.page-header__logo {
  height: 23px;
  text-align: left;
  cursor: pointer;

  &:hover .page-header__logo-icon {
    fill: $basic-pink;
  }

  &:active .page-header__logo-icon {
    opacity: 0.3;
  }
}
