.page-main-form {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
  }
}
