.page-footer__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: var(--basic-blue);
  margin: 22px 0 28px 0;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 55px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 74px 150px 61px 150px;
  }
}

.page-footer {
  text-align: center;

  @media (min-width: $tablet-width) {
    .page-footer__contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

.page-footer__bottom {
  @media (min-width: $tablet-width) {
    height: 127px;
    display: flex;
    justify-content: space-around;
  }
}

.page-footer__logo-link {
  padding: 53px 0 71px 0;

  &:hover {
    --fill: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  margin: 32px 47px 0;
  padding: 45px 59px 0 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__wrapper {
  padding-left: 20px;
}

.page-footer__social {
  margin: 0 0 0 16px;
  width: 195px;

  @media (min-width: $tablet-width) {
    margin: 41px 14px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 41px 14px 0 0;
  }
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.social__item {
  position: relative;
}

.social__link::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -20px;
  border: 3px solid var(--special-blue-border);
  border-radius: 50px;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.social__link svg {
  width: 20px;
  height: 20px;
  fill: var(--basic-pink);
}

.social__link--twitter::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#twitter");
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  top: 4px;
  right: -20px;
}

.social__link--facebook::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#facebook");
  background-repeat: no-repeat;
  width: 11px;
  height: 26px;
  top: 3px;
  right: -12px;
}

.social__link--youtube::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#youtube");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  top: 5px;
  right: -18px;
}

.copyright__link::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/sprite.svg#html-academy");
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
  top: 45px;
  right: 28px;

  @media (min-width: $tablet-width) {
    top: 3px;
    right: -39px;
  }

  @media (min-width: $desktop-width) {
    top: 3px;
    right: -39px;
  }
}

.map__iframe {
  width: 100%;
  height: 200px;
  background-image: url("../../img/map-mobile.jpg");

  @media (min-width: $tablet-width) {
    height: 374px;
    background-image: url("../../img/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    height: 502px;
    background-image: url("../../img/map-desktop.jpg");
  }
}
