.page-main {
  display: grid;

  &--form {
    grid-template-columns: 1fr;

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
    }
  }
}
