.photo {
  order: 2;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.photo__panorama {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-pink;
}

.photo__block {
  background-color: $basic-grey;
  width: 280px;
  margin-left: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 555px;
  }
}

.photo__block-panorama {
  @media (min-width: $tablet-width) {
    width: 660px;
    height: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 602px;
  }
}

.photo__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: $basic-blue;
  text-decoration: none;
}

.photo-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $basic-blue;
}

.photo__likes {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: $basic-pink;
  text-transform: uppercase;
}

.photo__text-conclusion {
  line-height: 30px;
}
