.photo {
  order: 2;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo__block {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 3px;
}

.photo__headline {
  margin: 0 0 0 0;
}

.photo__img {
  display: block;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.photo__item {
  background-color: var(--basic-grey);
  padding: 11px 10px 17px 17px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 16px 10px 17px 28px;
  }
}
