.post {
  order: 3;
  background-color: $basic-grey;
  width: 320px;
  height: 757px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 511px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    height: 514px;
    margin-left: 130px;
    margin-right: 130px;
  }
}

.post__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 30px;
}

.post__button__button-send {
  color: $basic-pink;
  border: 3px solid $basic-pink;
}

.post__button__button-cancel {
  color: $basic-blue;
  border: 3px solid $basic-blue;
}

.post__img {
  margin: 57px 48px 54px 20px;
}
