.post {
  order: 3;
  background-color: $basic-grey;
  height: 757px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    height: 511px;
    flex-wrap: wrap;
    padding: 57px 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    height: 514px;
  }
}

.post__img {
  @media (min-width: $tablet-width) {
    height: 400px;
    margin: 0 0 54px 20px;
  }
}

.post__buttons {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
  }
}

.post__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 34px;
  margin-bottom: 12px;
}

.post__button__button-send {
  color: $basic-pink;
  border: 3px solid $basic-pink;
  padding: 17px 91px;
}

.post__button__button-cancel {
  color: $basic-blue;
  border: 3px solid $basic-blue;
  padding: 17px 104px;
}

.post__tools {
  list-style: none;
  padding: 0;
  width: 275px;
  position: relative;
}

.post__contrast {
  margin-bottom: 50px;
}

.post__crop::before {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 41px;
  width: 44px;
  height: 44px;
  background-image: url("../../img/icons/crop.svg");
}

.post__fill::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 119px;
  width: 44px;
  height: 44px;
  background-image: url("../../img/icons/fill.svg");
}

.post__contrast::before {
  content: "";
  position: absolute;
  bottom: 19px;
  right: 39px;
  width: 32px;
  height: 32px;
  background-image: url("../../img/icons/contrast.svg");
  background-repeat: no-repeat;
}

.post__slider {
  margin-bottom: 34px;
}

.bar {
  background-color: $special-blue;
  height: 2px;
  width: 240px;
  margin-left: 20px;
  position: relative;
}

.toggle {
  position: absolute;
  bottom: -7px;
  right: 31px;
  width: 14px;
  height: 14px;
  border: 2px solid $basic-pink;
  background-color: $basic-white;
  border-radius: 50%;
}

.tools__bar {
  @media (min-width: $tablet-width) {
    background-color: $special-blue;
    height: 2px;
    width: 240px;
    margin-left: 20px;
    position: relative;
  }
}
