.price {
  order: 5;
  background-color: var(--basic-grey);
  position: relative;
}

.price__table {
  padding: 100px 0 45px 0;
  margin: 0 auto;
}

.price__table-row {
  height: 59px;
  background-color: var(--basic-white);
  position: relative;

  @media (min-width: $tablet-width) {
    height: 45px;
  }
}

.price__table-column:first-child {
  text-align: left;
}

.price__table-row-head {
  @media (min-width: $tablet-width) {
    height: 75px;
  }
}

.price__table-column-head {
  font-size: 18px;
  font-weight: 300;
  background-color: var(--special-blue);
  color: var(--basic-white);
}

.price__table-column {
  font-size: 14px;
  font-weight: 400;
  color: var(--special-blue);
  width: 153px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 5px 15px 5px 15px;
  }

  @media (min-width: $tablet-width) {
    padding: 5px 22px 5px 22px;
  }
}

.price__toggles {
  text-align: center;
  margin: 0;
  padding: 0 0 45px 0;
}

.slider__toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider__toggle::after {
  content: "";
  display: inline-block;
  background-image: url("../../icons/sprite.svg#toggle");
  background-repeat: no-repeat;
  width: 6px;
  height: 6px;
  top: 21px;
  right: 16px;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle--current::before {
  content: "";
  display: inline-block;
  background-image: url("../../icons/sprite.svg#toggle-current");
  background-repeat: no-repeat;
  width: 6px;
  height: 6px;
  top: 21px;
  right: 16px;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.price__table-column-yes::after {
  content: "";
  display: inline-block;
  background-image: url("../../icons/sprite.svg#tick");
  background-repeat: no-repeat;
  width: 31px;
  height: 21px;
  top: 21px;
  right: 16px;
  text-align: center;
}

.price__table-column-no::after {
  content: "";
  display: inline-block;
  background-image: url("../../icons/sprite.svg#cross");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  top: 21px;
  right: 16px;
  text-align: center;
}

.column-name {
  display: block;
  background-color: var(--special-blue);
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 700;
}
