.price {
  order: 5;
  background-color: $basic-grey;
  height: 506px;

  @media (min-width: $desktop-width) {
    height: 534px;
  }
}

.price__table-row-head {
  background-color: $basic-blue;
  color: $basic-white;
  text-transform: uppercase;
}

.price__table-column-head {
  font-size: 16px;
}

.prcie__table-cost {
  font-size: 18px;
  font-weight: 300;
}

.price__table-column {
  font-size: 14px;
  font-weight: 400;
  color: $basic-blue;
}
