.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  color: $special-blue;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 688px;
  }
}

.reviews__text::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../../icons/sprite.svg#quotes");
    background-repeat: no-repeat;
    width: 79px;
    height: 63px;
    bottom: 155px;
    right: 302px;
  }
}

.reviews {
  order: 4;
  height: 364px;
  text-align: center;
  margin-top: 400px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    height: 405px;
    margin-bottom: 75px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__profession {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    color: $special-blue;
  }
}

.reviews__toggles {
  margin: 0;
}

.reviews__quotes {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 72px auto;
  }
}

.reviews__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 180px auto;
  }
}

.reviews__button {
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.reviews__prev::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../../icons/sprite.svg#prev-arrow");
    background-repeat: no-repeat;
    width: 22px;
    height: 41px;
    top: -208px;
    right: 413px;
  }
}

.reviews__next::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("../../icons/sprite.svg#next-arrow");
    background-repeat: no-repeat;
    width: 22px;
    height: 41px;
    top: -208px;
    left: 413px;
  }
}
