.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  color: $basic-blue;
}

.reviews {
  outline: 5px solid rgba(229, 255, 0, 0.8);
  outline-offset: -5px;
}
