.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  color: $basic-blue;
}

.reviews {
  order: 4;
  height: 364px;
  width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 405px;
    margin-left: 130px;
    margin-right: 130px;
  }
}
