.slider__toggles {
  display: flex;
  gap: 13px;
  justify-content: center;
  margin-block: 16px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle {
  --bullet-icon: url("../../icons/sprite.svg#toggle");
  border: none;
  padding: 0;
  background-color: transparent;

  &:not(.slider__toggle--current) {
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  &--current {
    --bullet-icon: url("../../icons/sprite.svg#toggle-current");
  }

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: var(--bullet-icon) no-repeat;
  }
}
