.story-form__field {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-pink;
}

.story-form:last-child {
  margin-bottom: 44px;
}

.story-form__input {
  width: 276px;
  height: 59px;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    width: 490px;
    margin-left: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    margin-left: 18px;
  }
}

.story-form__input-name {
  @media (min-width: $tablet-width) {
    margin-left: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 58px;
  }
}

.story-form__label {
  margin: 0 0 0 0;
}
