.story-intro {
  order: 2;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin-left: 130px;
    margin-right: 130px;
  }
}

.story-intro__text {
  font-size: 14px;
  font-weight: 400;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
