.story-form {
  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.story-form__field {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-pink);
  margin: 0;
}

.story-form:last-child {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.story-form__input {
  width: 276px;
  height: 59px;
  margin: 5px 0 14px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 457px;
    margin: 0 0 51px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    margin: 0 0 50px 18px;
  }
}

.story-form__input:hover {
  border-color: var(--special-blue);
}

.story-form__input:active {
  border-color: var(--special-pink);
}


.story-form__input-name {
  @media (min-width: $tablet-width) {
    width: 498px;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    margin-left: 17px;
  }
}

.story-form__label {
  margin: 0 0 0 22px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 0;
  }
}
