.story-check {
  order: 4;
  background-color: $basic-grey;
  height: 604px;

  @media (min-width: $tablet-width) {
    order: 6;
    background-color: $basic-white;
  }
}

.story-check__fieldset {
  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid $special-grey-border;
    border-radius: 1px;
    padding: 0;
  }
}

.story-check__headline {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $basic-pink;
  text-transform: uppercase;
}

.story-check__list {
  font-size: 18px;
  font-weight: 400;
  color: $basic-blue;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.story-check__item::marker {
  font-size: 0;
}
