.story-form__field {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-pink);
}

.story-intro {
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-blue);
}
